<div class="mat-elevation-z4 page-container">
  <lib-card *ngIf="data">
    <lib-card-header>
      <lib-card-title>{{data.title}}</lib-card-title>
      <lib-card-subtitle>{{data.summary}}</lib-card-subtitle>
    </lib-card-header>
    <lib-card-content>
      <lib-dynamic-html [content]="body"></lib-dynamic-html>
    </lib-card-content>
    <lib-card-actions>
      <button class="gm-thumb_up_alt">
      </button>
      <button class="gm-thumb_up_alt">
      </button>
    </lib-card-actions>
  </lib-card>
</div>
