<ng-container [ngSwitch]="key">
  <div class="card-item" *ngSwitchCase="'asset'">
    <lib-card>
      <lib-card-header>
        <img libCardImg src="/api/v1/assets/{{searchType.id}}" alt="">
      </lib-card-header>
      <lib-card-content>
        {{searchType.comment}}
      </lib-card-content>
      <lib-card-footer>
        <span>Date: {{searchType.created}}</span>
      </lib-card-footer>
    </lib-card>
  </div>
  <div class="card-item" *ngSwitchCase="'card_page'">
    <app-card-page [data]="searchType" [animate]="false"></app-card-page>
  </div>
  <div class="card-item" *ngSwitchCase="'card_pet'">
    <app-card-pet [data]="searchType" [animate]="false"></app-card-pet>
  </div>
  <div class="tablet-item" *ngSwitchCase="'tablet_page'">
  <app-tablet-page [data]="searchType" [animate]="false"></app-tablet-page>
  </div>
  <div class="tablet-item" *ngSwitchCase="'tablet_pet'">
  <app-tablet-pet [data]="searchType" [animate]="false"></app-tablet-pet>
  </div>
</ng-container>
