<mat-toolbar class="fixed-top" color="primary" style="padding: 0">
  <button mat-icon-button class="example-icon" aria-label="Show side nav" (click)="sideNav.toggle()">
    <mat-icon>more_vert</mat-icon>
  </button>
  <a [routerLink]="'/'" style="display: flex">
  <img src="/assets/img/logo.jpg" class="clip-img">
  </a>
  <span>Shelter Pet</span>
  <span class="toolbar-spacer"></span>

  <mat-form-field appearance="standard" class="toolbar-select">
    <mat-label>Language</mat-label>
    <select matNativeControl (input)="onSelectLang($event)">
      <option value="{{lang.lang}}" *ngFor="let lang of languages" [selected]="lang.lang === systemLang.getLocale()">{{lang.displayName}}</option>
    </select>
  </mat-form-field>

  <app-menu [menuTree]="menuTree" [oneButton]="humMenu"></app-menu>
</mat-toolbar>
<mat-sidenav-container [autosize]="true" class="main-content">
  <mat-sidenav #sideNav [mode]="humMenu ? 'over' : 'push'"
               fixedInViewport="true">
    <div class="left-side-nav" >
      <div>
        <mat-form-field class="example-form-field">
          <mat-label>Search input</mat-label>
          <input matInput type="text" [(ngModel)]="searchText">
          <button mat-button mat-raised-button matSuffix mat-icon-button aria-label="Clear" (click)="searchPagesAndPet($event)">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <span>
        <lib-link href="/about" faIcon="contact_mail">
          <p>г. Запорожье, ул. 40 лет Советской Украины 38-а<br>
                (внутри гаражного кооператива)<br>
              Приют находится в районе проспекта Металлургов,<br>
                между остановками пр. Металлургов и пл. Поляка<br>
                (бывш. ул.12 апреля). За памятником "Голодомор"</p>
        </lib-link>
        <lib-link href="tel:+380963935377" faIcon="contact_phone">+38 096-39-35-377</lib-link>
        <lib-link href="tel:+380507656310" faIcon="contact_phone">+38 050-76-56-310</lib-link>
        <lib-link href="tel:0612208125" faIcon="contact_phone">061 220-81-25</lib-link>
        <lib-link href="mailto:daylapu@i.ua" email="email">daylapu@i.ua - Ирина Дидур, все вопросы о приюте</lib-link>
        <lib-link href="https://t.me/DayLapuDrug">Ми в телеграмі</lib-link>
        <lib-link href="https://www.instagram.com/day_lapu/">Ми в інстаграм</lib-link>
        <lib-link href="https://vk.com/id72601488" faIcon="vk">Ми в контакті</lib-link>
        <lib-link href="https://www.facebook.com/daylapudrug">Ми у Facebook</lib-link>
        <lib-link href="https://www.facebook.com/groups/154469294662120">Наша группа в Facebook</lib-link>
        <lib-link href="https://www.youtube.com/channel/UC7qPNNMWdoPIuIly4MJviEQ">Наш канал на YouTube</lib-link>
      </span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content >
    <div class="app-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
