<ng-template [ngIf]="!oneButton" [ngIfElse]="onebutton">
  <ng-container *ngFor="let menu of menuTree" >
    <button mat-button *ngIf="menu.menu?.length > 0; else simple" [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{subTree: menu.menu, path: menu.path}">
      {{menu.title}}
    </button>
    <ng-template #simple>
      <button mat-button [routerLink]="menu.path">{{menu.title}}</button>
    </ng-template>
  </ng-container>
</ng-template>
<ng-template #onebutton>
  <ng-container>
  <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{subTree: menuTree, path: ''}">
    <mat-icon>menu</mat-icon>
  </button>
  </ng-container>
</ng-template>
<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent let-subTree="subTree" let-path="path">
    <ng-container *ngFor="let menu of subTree">
      <button mat-menu-item *ngIf="menu.menu?.length > 0; else simple" [matMenuTriggerFor]="subMenu" [matMenuTriggerData]="{subTree: menu.menu, path: path+'/'+menu.path}">
        {{menu.title}}
      </button>
      <ng-template #simple>
        <button mat-menu-item [routerLink]="path+'/'+menu.path">{{menu.title}}</button>
      </ng-template>
    </ng-container>
  </ng-template>
</mat-menu>
<mat-menu #subMenu="matMenu">
  <ng-template matMenuContent let-subTree="subTree" let-path="path">
    <ng-container *ngFor="let menu of subTree">
      <button mat-menu-item *ngIf="menu.menu?.length > 0; else simple" [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{subTree: menu.menu, path: path+'/'+menu.path}">
        {{menu.title}}
      </button>
      <ng-template #simple>
        <button mat-menu-item [routerLink]="path+'/'+menu.path">{{menu.title}}</button>
      </ng-template>
    </ng-container>
  </ng-template>
</mat-menu>
