<div class="search-content-container">
  <div class="search-toolbar">
    <lib-input-control [caption]="i18n.searchCaption" [autofocus]="true" leadingIcon="gm-search"
                       [placeholder]="i18n.searchPlaceholder" [hint]="i18n.searchDescription" [tooltip]="i18n.searchTooltip"
                       [(ngModel)]="query"></lib-input-control>
    <lib-select-control [hint]="" [caption]="i18n.displayCaption" [titles]="" [tooltips]="" [options]="" [(ngModel)]="displayAs"></lib-select-control>
    <lib-select-control [hint]="" [caption]="" [titles]="" [tooltips]="" [options]="" [(ngModel)]="place"></lib-select-control>
  </div>
  <app-lengthen-list [resource]="place" [defLang]="'auto'" [displayAs]="displayAs" [query]="queryOut"></app-lengthen-list>
</div>
