<nav>
  <a routerLink="/admin/lang-table">LangTableComponent</a>
</nav>
<nav>
  <a routerLink="/admin/menu-table">MenuTableComponent</a>
</nav>
<nav>
  <a routerLink="/admin/fields-table">FieldsTableComponent</a>
</nav>
<nav>
  <a routerLink="/admin/files-table">FilesTableComponent</a>
</nav>
<nav>
  <a routerLink="/admin/pets-table">PetsTableComponent</a>
</nav>
<nav>
  <a routerLink="/admin/search-table">SearchTableComponent</a>
</nav>
<nav>
  <a routerLink="/admin/banners-table">BannersTableComponent</a>
</nav>
<nav>
  <a routerLink="/admin/page-table">PageTableComponent</a>
</nav>
<nav>
  <a routerLink="/admin/user-table">UserTableComponent</a>
</nav>
<router-outlet></router-outlet>
