<div (dragover)="onDragOverFile($event)" (drop)="onDropFile($event)">
  <lib-edit-table [configuration]="tableConfiguration"
                  [showMenu]="fullForm"
                  (emitRows)="handleTableEvent($event)"
                  title="Settings uploaded files"
                  [newDialog]="add">
  </lib-edit-table>
</div>
<ng-template #add let-dialogRef="dialogRef" let-data>
  <!-- dialogRef - reference to dialog, data - data that obtain dialog (for view, edit, delete it is row) -->
  <label>Choose a file
    <input #inputFiles type="file" (change)="selectFile($event)" multiple>
  </label>
  <mat-form-field floatPlaceholder="auto">
    <mat-label>Leave comment</mat-label>
    <textarea matInput [(ngModel)]="comment"
              placeholder="You can input any comments"></textarea>
  </mat-form-field>
  <div #fileListContainer>

  </div>
  <button (click)="close(dialogRef, data)">Cancel</button>
  <button (click)="upload(dialogRef, inputFiles.files, comment)">Upload</button>
</ng-template>

<ng-template #viewDetails let-dialogRef="dialogRef" let-data>

  <p><span>{{data.id}}</span></p>
  <p>
    <label>Id:</label><span>{{data.file.id}}</span>
  </p>
  <p><label>OriginalName:</label><span>{{data.file.originalName}}</span></p>
  <p><label>encoding:</label><span>{{data.file.encoding}}</span></p>
  <p><label>mimeType:</label><span>{{data.file.mimeType}}</span></p>
  <p><label>size:</label><span>{{data.file.size}}</span></p>
  <p><label>created:</label><span>{{data.file.created}}</span></p>
  <p><label>comment</label><span>{{data.file.comment}}</span></p>
  <p><label>numberOfReferences:<span>{{data.file.numberOfReferences}}</span></label></p>
  <table>
    <tr><th>refId</th><th>refType</th><th>refName</th></tr>
    <tr *ngFor="let item of data.references">
      <td>{{item.refId}}</td><td>{{item.refType}}</td><td>{{item.refName}}</td>
    </tr>
  </table>
  <button (click)="close(dialogRef, data)">Cancel</button>

</ng-template>
