<div>
  <lib-edit-table [configuration]="tableConfiguration" title="Settings pets" [viewDialog]="viewTmpl" [newDialog]="editDlg" [editDialog]="editDlg"></lib-edit-table>
</div>
<ng-template #viewTmpl let-data>
  <div>
    <app-pet [data]="data"></app-pet>
  </div>
</ng-template>
<ng-template #editDlg let-dialogRef="dialogRef" let-data>
  <div class="edit-page-form">
    <mat-accordion>
      <mat-expansion-panel [expanded]="panel === 0" (opened)="opened(0)">
        <mat-expansion-panel-header>
          <mat-panel-title>Form</mat-panel-title>
          <mat-panel-description>Fill all fields of form</mat-panel-description>
        </mat-expansion-panel-header>
        <lib-dynamic-form #form [configuration]="tableConfiguration.formConfiguration" [data]="data" style="display: flex"></lib-dynamic-form>
        <div class="editor-assets">
          <lib-show-value *ngFor="let asset of (data.ref || [])" [row]="{mediaType: asset.mimeType, mediaURI: '/api/v1/assets/'+asset.refId}"></lib-show-value>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="panel === 2" (opened)="opened(2)" (closed)="closed(data, assets, 2)">
        <mat-expansion-panel-header>
          <mat-panel-title>Assets</mat-panel-title>
          <mat-panel-description>Link with assets</mat-panel-description>
        </mat-expansion-panel-header>
        <app-files-table #assets [fullForm]="false" [selectedRows]="selectedRows(data)"></app-files-table>
      </mat-expansion-panel>
      <div mat-dialog-actions>
        <button mat-button (click)="dialogRef.close()" style="width: 30%">Cancel</button>
        <button mat-button (click)="update(dialogRef, form, assets)" cdkFocusInitial style="width: 30%">Finish</button>
      </div>
    </mat-accordion>
  </div>
</ng-template>
