@use "./styles/regular";
@use "./styles/common";
@use "./styles/colors";
body {
  display: block;
  margin: {
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
  };
  padding: 0;
  height: 100%;
  width: 1024px;
}
